body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: rgb(221, 217, 213);
  
  
  

}

header {
  text-align: center;
  background-color: rgb(188, 180, 171);
  
  
  
}

#images{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 5px solid;color: black;
  

}
footer {
  text-align: center;
  background-color: rgb(56, 54, 52);
  padding: 3px;
  
}
 
.main{
  display: flex;
  flex-direction: row;
  overflow:inherit


  
  }
#navbar{
  margin-top: -2%; 
  width: 20%;
  padding: 2rem;
  background-color: rgb(92, 90, 88);
  
}
.icons{
  width: 6%;
  margin: 2rem;
  height: auto
}
p{
  margin-block: 2rem;
  padding-left: 2rem;
  
}
h2{
  box-sizing: border-box;
  padding-left: 2rem;
  border-style: solid;
}
h3{
  padding-left: 2rem;
  text-decoration-line: underline;
  
}
h4{
  padding-left:  2rem;
  text-decoration-line: underline;
}
contents{
  margin-left: 3rem;

}
