body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: #FCF7F8;
}
#imageProfile{
  height: 15%;
  width: 15%;  
  border-radius: 50%;
  border: 5px solid coral
  

}

#header{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(232, 238, 238);
  background-color: #4c4748;
}

footer{
  text-align: center;
  background-color: #4c4748;
}
#Sidebar{
  width: 15%;
  background-color: #4c4748;
  padding: 3rem;
  
}
.navlist{
  list-style:none;
  padding: 0%;
 
}
.icons{

  width: 5rem;
  margin: 2rem;
  height: auto;
}