body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: #FCF7F8;
}

#header{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(232, 238, 238);
  background-color: #4c4748;
}

footer{
  text-align: center;
  background-color: #4c4748;
}
#Sidebar{
  width: 20%;
  background-color: #4c4748;
  
}
.navlist{
  list-style:none;
 
  }